body{
    margin:0;
    font-family: Arial;
    background:#eef1f4;
    display:flex;
}


aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-between;

    background-color: #21516C;

    height: 100%;
    width: 250px;
}

.top{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 60%;
    gap: 10%;
    margin-top: 10%;
}

.logo-container{
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
}

.logo{
    fill: white;
    height: 100%;
    width: 80%;
}

.links-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10%;

    width: 100%;
    height: fit-content;
}

.link{
    width: 100%;

    font-size: 2rem;
    padding-bottom: 40px;
    text-align: center;

    border-bottom: solid #054163 2px;
}

.selected{
    font-weight: bold;
}

.link a{
    text-decoration: none;
    text-align: center;
    color: white;
}

.bottom{
    width: 100%;
    height: 10%;
}

.btn-container{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 60%;
    height: 60%;

    border: none;
    border-radius: 10rem;

    font-size: 1.5rem;
    color: #21516C;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.btn-icon-logout{
    width: 70%;
    height: 70%;
}

.content{
    display:flex;
    width: 90%;
    height: 100vh;
}




.lista{
    width:20%;
    height: 100vh;
    background:#f5f7f9;
    padding:15px;
    border-right:1px solid #ddd;
}


.cardSensor{
    height: 20%;
    background:white;
    padding:12px;
    margin-top:10px;
    border-radius:10px;
    font-size: 2vh;
    cursor:pointer;
}

.cardSensor:hover{
    border:1px solid #1a4a5c;
}

.selecionado{
    border:2px solid #1a4a5c;
}

.top-card{
    display:flex;
    justify-content:space-between;
    font-size: 1.5rem;
}

.valores{
    font-size:1rem;
}

.hora{
    font-size:1rem;
    color:#777;
}


.conteudo{
    flex:1;
    padding:20px;
}


.topo{
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:10px;
}


.badge{
    padding:5px 10px;
    border-radius:8px;
    font-size:12px;
}

.ok{ background:#e1f5ee; color:#085041; }
.alerta-b{ background:#fbeaf0; color:#72243e; }


.dados{
    display:flex;
    gap:10px;
}

.caixa{
    background:white;
    padding:15px;
    flex:1;
    border-radius:10px;
}

.grafico{
    background:white;
    margin-top:10px;
    padding:15px;
    border-radius:10px;
}


.temp{ color:#09a07a; }
.umi{ color:#185fa5; }
.alerta{ color:#a32d2d; }