*{
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    font-size: 16px;
}
header{
    width: 100%;
    padding: 0;
    margin: 0; 
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
}

footer{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 60px;
    font-weight: 300;
    font-size: 60px;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    margin-top: 2vh;
    justify-content: center;
    color: #214B63;
    width: 100%;
}


/* Navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    background-color: #21516C;
    width: 100%; 
    height: 11vh;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 20%;
    height: 110%;
    gap: 10px;
}

.logo img{
    width: 50%;
    height: 60%;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    font-size: 1.4rem;
}

.links a:hover{
    color: rgb(175, 175, 175);
}

.login{
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

.login:hover{
    background-color: rgb(175, 175, 175);
    color: #1a3f55;
}

/* Banner */

.banner{
    width: 100%;
    height: 89vh;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-shadow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 80%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.89) 50%, transparent);
}

.banner-content{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    margin-left: 5vw;
} 

.subtitulo{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    width: 55%;
    height: 10%;

    background-color: #214B63;
    color: white;

    font-size: 1.5vh;
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 10px;
}

.banner .titulo{
    padding: 10px;
    display: flex;
    text-align: left;
    color: white;
    font-size: 8vh;
    width: 80%;
}

.banner p{
    margin-top: 10px;
}

.titulo spam{
    color: #214B63;
}

/*Quem somos?*/

.quemsomos{
    width: 100%;
    height: fit-content;
    display: flex;
    margin-top: 2%;
    gap: 3vh;
    margin-top: 2%;
    gap: 3vh;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}

.content{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 5vh;
    justify-content: space-between;
    margin: 0 10% 0 10%;
}

.content img{
    width:40%;
    margin-left: 28px;
    width:40%;
    margin-left: 28px;
    border-radius: 70px;
    border: solid 3px #214B63;
}

.texto{
    font-size: 1.9rem;
    font-size: 1.9rem;
    width: 50%;
}

.texto spam{
    color: #214B63;
    font-weight: bold;
}

#subtexto{
    align-self: center;
    font-size: 3rem;
    width: 80%;
    height: fit-content;
    margin-top: 4%;
    font-weight: bold;
    text-align: center;
}

#subtexto spam{
    color: #214B63;
}

/*  Qual a Importancia */

.cards{
    display: flex;
    margin: 0 10% 0 10%;
    justify-content: space-around;
    gap: 5%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 5vh;
    width: 30%;
    gap: 3vh;
    height: auto;
    height: auto;
    border: solid #214B63 3px;
    border-radius: 35px;
}

.card .titulo{
    text-align: center;
    font-size: 5vh;
}

.card p{
    font-size: 3vh;
    text-align: center;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #214B63;
    height: 15vh;
    width: 15vh;
    border-radius: 100%;
}

/* Área do Cliente*/

.areacliente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 6vh;
    margin-top: 6vh;
    margin: 5vh;
    border: solid #214B63 5px;
    border-radius: 25px;
}

.areacliente p{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 30px;
    font-size: 1.8rem;
    margin-top: 30px;
}

.areacliente img{
    width: 25%;
    margin: 5vh;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Calculadora */

.titulo {
    font-size: 55px;
    color: #2f4f5f;
    font-weight: bold;
    text-align: center;
    font-family: 'Playfair Display';
}

.texto_calculadora {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    color: #383838;
    font-family: 'Playfair Display';
    font-size: 25px;
    line-height: 1.5;
}


.calculadora_container {
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
    width: 80%;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 40px;
    border: solid 4px #19395a;
}

.calculadora {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultado {
    width: 45%;
}


.linha {
    width: 3px;
    height: 450px;
    background-color: #2f4f5f;
    margin: 0 25px;
}


.titulo_blue {
    color: #2f4f5f;
    margin-top: 30px;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Playfair Display';
    text-align: center;
}


.texto_input {
    width: 120px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    border: 2px solid #2f4f5f;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #b7c6cd;
}


#range_obras {
    width: 80%;
    margin-top: 30px;
}


.botoes_calculadora {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.botoes_calculadora button {
    margin: 10px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 2px solid #2f4f5f;
    background-color: #e6e6e6;
    color: #275570;
    font-family: 'Playfair Display';
}

.botoes_calculadora button:hover {
    background-color: #2f4f5f;
    color: white;
}


.botao_calcular {
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 20px;
    border: none;
    background-color: #2f4f5f;
    color: white;
    font-size: 16px;
    font-family: 'Playfair Display';
}

.botao_calcular:hover {
    background-color: #1f3a47;
}


.caixa {
    background-color: #e6e6e6;
    margin: 20px;
    padding: 18px;
    border-radius: 25px;
    font-family: 'Playfair Display';
}


.caixa p {
    margin: 5px 0;
}

.valor {
    font-size: 20px;
    font-weight: bold;
}


.caixa_azul {
    background-color: #2f4f5f;
    color: white;
}

.caixa_azul .valor {
    font-size: 22px;
}
.titulo_quer{
    color: #ffffff;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    font-family: 'Playfair Display';
}
.footer{
    background-color: #21516C;
}
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip_text {
    visibility: hidden;
    background-color: #2f4f5f;
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 8px;
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

.tooltip:hover .tooltip_text {
    visibility: visible;
}

/* Footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #214B63;

    padding: 40px 0;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;
    gap: 1vh;
    
    margin-left: 3%;
    gap: 1vh;
}

.info p{
    color: white;
    text-align: left;
    font-size: 2vh;

    width: 50%;
}

.footer .titulo{
    display: flex;
    justify-content: flex-start;

    color: white;
    width: 20vw;
    font-size: 5vh;
    margin: 0;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 2vh;
    gap: 2vh;
    width: 50%;
    height: 100%;
}

.contato input{
    width: 40%;
    border: none;
    border-radius: 25px;
    height: 5.5vh;
    text-align: center;
}

.contato button{
    border: none;
    height: 5vh;
    height: 5vh;
    border-radius: 25px;
    width: 20%;
    color: #132a37;
    font-weight: 700;
    color: #132a37;
    font-weight: 700;
}
